@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {  
    font-family: "Nunito", sans-serif;
    color: #F4F3EE;
    overscroll-behavior: none;
    height: auto;
    margin: 0;
    background-color: #095971;
    display: flex;
    flex-direction: column;
}


form {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

input {
    width: 35%;
    border-radius: 5px;
    border: none;
}

button {
    border-radius: 5px;
    border: none;
}

#forecast-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    flex-direction: column; 
}

#forecast-container.show {
    max-height: 800px; /* A large enough value */
    opacity: 1;
}

#current-weather-section{
   display: flex;
   justify-content: center;
}

#weekly-forecast-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


#current-weather-container, .weekly-forecast-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgba(86, 163, 166);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: box-shadow .5s ;
}

#current-weather-container:hover, .weekly-forecast-container:hover {
    box-shadow: 4px 4px 5px rgba(142, 241, 74) ;
}

.weather-icon {
    width: fit-content;
}

.lets-icons--search-duotone {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' fill-opacity='0.25' fill-rule='evenodd' d='M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14M10.087 7.38A5 5 0 0 1 12 7a.5.5 0 0 0 0-1a6 6 0 0 0-6 6a.5.5 0 0 0 1 0a5 5 0 0 1 3.087-4.62' clip-rule='evenodd'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M20.5 20.5L17 17' stroke-width='1'/%3E%3Ccircle cx='11' cy='11' r='8.5' stroke='%23000' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
